html {
    box-sizing: border-box;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
nav {
    height: 62px;
    border-bottom: 1px solid #d6d8da;
}
nav ul {
    width: 300px;
}
nav a, nav input::placeholder {
    color: #1865f2 !important;
    font-weight: 700;
    letter-spacing: 0.5px;
}
nav input {
    background-color: #F0F1F2 !important;
    border: none !important;
}
nav li {
    padding: 0 5px;
}