html {
    box-sizing: border-box;
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
main {
    flex: 1;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
nav {
    height: 62px;
    border-bottom: 1px solid #d6d8da;
}
nav ul {
    width: 300px;
}
nav a,
nav input::placeholder {
    color: var(--primary) !important;
    font-weight: 700;
    letter-spacing: 0.5px;
}
nav input {
    background-color: #f0f1f2 !important;
    border: none !important;
}
nav form {
    position: relative;
}
nav input + img {
    position: absolute !important;
    top: 8px;
    right: 8px;
}
nav li {
    padding: 0 5px;
}
section h1 {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 53px;
}
section p {
    font-size: 18px;
}
section .works,
section .inspiration {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
section .works > div {
    padding: 100px 0;
}
section .works h2 {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 100px;
}
section .works h3 {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 25px;
}
section .works span {
    font-size: 16px;
}
section .one-btn-div {
    margin-bottom: 150px;
}
section .one-btn-div span {
    color: rgba(33, 36, 44, 0.64);
    display: block;
}
section .one-btn-div h2 {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 26px;
}
section .one-btn-div p {
    font-size: 18px;
}
section .one-btn-div span:first-of-type {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 25px;
}
section .one-btn-div span:last-of-type {
    font-size: 11px;
}
section .one-btn-div .btn {
    margin-top: 35px;
}
section .inspiration p {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 32px;
}
section .inspiration {
    padding: 100px 40px;
}
section .inspiration img {
    width: 100%;
    height: 150px;
}
section .inspiration span {
    font-family: Lato, "Noto Sans", Helvetica, Corbel, sans-serif, Helvetica,
        Corbel, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
section .inspiration small {
    font-family: Lato, "Noto Sans", Helvetica, Corbel, sans-serif, Helvetica,
        Corbel, sans-serif;
    font-size: 14px;
    font-style: italic;
}
section .join-today {
    text-align: center;
    margin-bottom: 150px;
}
section .join-today h2 {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 40px;
}
section .join-today .btn {
    margin: 5px 0;
    padding: 15px 120px;
}
section .supporters {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
}
section .supporters h2 {
    font-family: "Source Serif Pro", "Noto Serif", serif;
    font-size: 36px;
    font-weight: 500;
    padding: 20px 0;
}
section .supporters > div {
    padding: 0 100px;
}
section .supporters img {
    padding: 35px 0;
}
section .supporters hr {
    background-color: #000;
}
footer {
    background-color: #0a2a65;
    color: #fff;
    padding-top: 48px;
}
footer p,
footer span {
    color: #8295ba;
    font-size: 20px;
}
footer p a {
    font-size: unset;
}
footer a,
footer a:hover {
    color: #fff;
}
footer a,
footer span {
    font-size: 12px;
}
footer .last-div {
    border-top: 1px solid #fff;
}
footer h3 {
    color: #8295ba;
    font-size: 12px;
    padding-bottom: 8px;
    font-weight: 600;
}
footer ul li {
    font-size: 12px;
    padding: 5px 0;
}
